---
layout: job_family_page
title: "Director of Customer Success"
---

As the Director of Customer Success, you report to the [VP of Engineering](/job-families/vp-of-engineering), and you will build the Customer Success team with world-class [Solutions Architects](/job-families/sales/solutions-architect). Exceptionally qualified candidates may have the [Support Engineering Manager](/job-families/engineering/support-management) report to them. The Customer Success team will help customers succeed with GitLab through their growth initiatives, projects, and strategies. The right candidate will play a critical role in the delivery of a world-class service experience to GitLab's customers and channel partners. If you are truly passionate about customer advocacy and have a proven track record to talk about, then apply for this opportunity to unequivocally help our customers and furthermore, directly impact GitLab’s overall success and growth.

## Responsibilities

- Set the overall vision and strategic plan for the Customer Success organization with specific focus on defining customer success, and the metrics used to measure customer Health, Usage, and Adoption.
- Drive account growth outcomes
   - influence future lifetime value through higher product adoption,
   - customer satisfaction and overall health scores,
   - reduce churn and drive new business growth through greater advocacy and reference ability.
- Define and optimize customer lifecycle - define segmentation of customer base and varying strategies, identify opportunities for continuous improvement.
- Build and lead world-class Customer Success team
   - define functional roles and then recruit high potential and experienced individual contributors for each roles,
   - create rapid but robust onboarding processes for new team members,
   - foster collaboration within the GitLab team and across customers,
   - measure and manage effectiveness of team.
- Serve as the lead spokesperson and ambassador for GitLab's customer experience, representing the organization at the highest levels to prospective partners and customers. Empower the organization through effective communication.
- Work closely with the [Director of Global Account Management](/job-families/sales/director-global-account-management) to help them identify up-sell opportunities.
- This position will own 'upsell SQLs' that are generated by our Solution Architects.
- Every Solution Architect will be paired with an account manager. The account manager will report to the [Director of Global Account Management](/job-families/sales/director-global-account-management) who will report to the CRO.
- This is not a support role (that is a different team), support is reactive (responding to requests), CS is proactive (selecting who to engage with based on data).

## Requirements

- 7 - 10 years of management experience – including at least three years heading a successful customer success organization in an enterprise software environment
- Strong understanding and knowledge of the customer success role in successful cloud and enterprise environments
- Successful and inspired leadership of a management team
- Experience with account relationship and growth management of large strategic clients.
- Experience successfully working with senior (C-level) executives
- Demonstrated ability to lead managers and successfully manage global, distributed teams across cultures, lines of business, and geographies
- Possesses a strong management presence and leadership ability, with communication and interpersonal skills that inspire and motivate leaders and teams
- Demonstrated excellence in analytical thinking, problem solving, communication, delegation, planning & organization and judgment
- Able to be flexible and agile in responding to evolving business priorities and dealing with ambiguity
- Able to collaborate across organization and with external stakeholders
- Holds strong operational skills that will drive organizational efficiencies and customer satisfaction
- Willing and able to address escalated client issues with speed and urgency
- You share our [values](/handbook/values), and work in accordance with those values.
- Successful completion of a [background check](/handbook/people-group/code-of-conduct/#background-checks).
- [Leadership at GitLab](https://about.gitlab.com/handbook/leadership/#director-group)

<%= partial("job-families/sales/performance", :locals => { :roleName => "Director of Customer Success" }) %>

## Hiring Process

Candidates for this position can expect the hiring process to follow the order below. Please keep in mind that candidates can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/company/team).

* Qualified candidates receive a short questionnaire and coding exercise from our Global Recruiters
* The review process for this role can take a little longer than usual but if in doubt, check in with the Global recruiter at any point.
* Selected candidates will be invited to schedule a 45min [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a first interview with our CRO
* Candidates will then be invited to schedule a series of interviews with our VP of Engineering
* Finally, candidates will interview with our CEO
* Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](/handbook/hiring).
