---
title: "Apply to speak at GitLab Commit!"
author: Priyanka Sharma
author_gitlab: pritianka
author_twitter: pritianka
categories: company
image_title: '/images/events/gitlab-commit/gitlab-commit-header.png'
description: "Share your story with the wider GitLab community."
tags: events, community
cta_button_text: 'Submit a proposal!'
cta_button_link: 'https://docs.google.com/forms/d/e/1FAIpQLSdbDLOt7jYDlvZqgs2-IlOoLexszEZ0zGghA3HB-VEq_vVICA/viewform'
twitter_text: "The Call for Papers for #GitLabCommit is open! Submit your talks today"
postType: corporate
---

Hello there! The inaugural [GitLab Commit conferences](/events/commit) are coming this fall, and I'm thrilled to invite you to attend **and** speak. GitLab will be heading to Brooklyn and London, and the [Call for Papers](https://docs.google.com/forms/d/e/1FAIpQLSdbDLOt7jYDlvZqgs2-IlOoLexszEZ0zGghA3HB-VEq_vVICA/formResponse) for both events is now open. We believe that everyone can contribute, and so we want to hear from you, so apply now to share your insights, innovations, and inspirations. But don't wait too long; the Call for Papers closes on Friday, July 19 at 11:59 PM Pacific.

Our community is essential to GitLab, and your unique points of view are what will power great GitLab Commit events. If you need help with your submissions, feel free to reach out to me directly on Twitter – [@pritianka](https://twitter.com/pritianka) – or send an email to the Commit team at commit@gitlab.com. We're delighted to support and elevate your voices.

Below is more information about the event. Check out what we're cooking up, and I look forward to seeing all of your talk proposals!

## What is Commit?

GitLab Commit brings together the GitLab community to connect, learn, and inspire. You’ll learn about exciting new technologies and hear how creators like you are innovating the future of software development.

This year, GitLab Commit takes over two locations:

September 16 & 17, 2019  | Brooklyn, USA
October 8 & 9, 2019 | London, United Kingdom

We invite you to speak at [GitLab Commit](/events/commit) and share your software journey. We’re looking for stories that showcase the power of DevOps in action. Share the technologies and strategies you’ve employed, your challenges and successes, or a behind-the-scenes look at how you're building something incredible.

**Results** is a GitLab company value – and the theme of this conference – so proposals that share clear results (such as improved cycle times by 30% or reduced MTTR by 45%) will be prioritized.

<%= partial "includes/blog/tweet", locals: { text: 'Share your story at the #GitLabCommit conferences in Brooklyn and London this fall', author: 'gitlab' } %>

## Session types

We're accepting proposals for 35-minute lectures or panels, 20-minute live coding demos, 10-minute lightning talks, and ideas for 35-minute 'birds of a feather' discussions.

## Tracks

#### Cloud native
Learn how to leverage cloud native technologies like Kubernetes, severless, and multicloud to build and run applications better and faster.

#### DevOps in action
Expect to walk away with practical advice and examples of how others navigated their DevOps transformations. These sessions focus on actions and results rather than high-level ideas.

#### Live coding
These adrenaline-pumping sessions will feature doers on stage, live coding, debugging, and hacking. Join along on your laptop or just enjoy the show.

#### Powered by GitLab
Software has eaten the world, and we are all better for it. Hear how developers like you are building on GitLab to solve large-scale problems across the world, from humanitarian crises to space exploration.

## Looking for inspiration?

Here are some ideas to help you get started:

* The single application for cloud native: How you utilize multiple (not necessarily all) GitLab product stages from Manage to Plan, Create, Verify, Package, Secure, Release, Configure, Monitor, and Defend your software DevSecOps lifecycle
* Planning and managing DevOps: Tips, tricks, and lessons learned about how to organize, plan, and deliver across groups and projects. Share how you estimate, plan sprints, create boards, and keep your project moving forward.
* Social coding: DevOps is a team effort – we learn from each other. In this track learn how to master Git, code reviews, and innersourcing to make it easier for you to share and ship faster.
* Automated, secure, and reliable applications: From CI and CD to security, automation is the foundation of DevOps transformation. In this track, we are exploring best practices and insights into what it takes to rapidly iterate and deliver at the speed of business.
* Cloud native and Kubernetes: GitLab + Kubernetes = Awesome

## Deadline

The Call For Papers closes July 19! [Get more details and to submit your talks here](https://docs.google.com/forms/d/e/1FAIpQLSdbDLOt7jYDlvZqgs2-IlOoLexszEZ0zGghA3HB-VEq_vVICA/viewform).

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/VBxnxJqWo3o" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->
