| Level | Meaning |
| <%= color_code_maturity(3) %> | Has a description, target, and periscope data. |
| <%= color_code_maturity(2) %> | Missing one of: description, target, or periscope data. |
| <%= color_code_maturity(1) %> | Missing two of: description, target, or periscope data. |
| <%= color_code_maturity(0) %> | Missing a description, a target, and periscope data. |
