---
title: Peer Reviews
suppress_header: true
extra_css:
  - press.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %h1 Peer Reviews
    %p Check out what people are saying

.gitlab-content-container.margin-top50
  .content
    .content-section
      - data.proofpoints.each do |review,review_comments |
        %h4
          = review
          <hr>
        - review_comments.each do |pp, index|
          %li
            = succeed ',' do
              %a{ href: "#{pp.quotelink}", target: "_blank" }
                = pp.quote
            = succeed ',' do
              = pp.role
            = succeed ',' do
              = pp.industry
            = succeed ',' do
              = pp.csize
            = pp.region
        <hr>
