---
layout: markdown_page
title: "Create:Editor Backend Engineer Communication"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Async standup
<%= partial("handbook/engineering/development/dev/create/async_standup.erb") %>

## Weekly Updates
<%= partial("handbook/engineering/development/dev/create/weekly_updates.erb") %>

## Dev Escalation
<%= partial("handbook/engineering/development/dev/create/dev_escalation.erb") %>

## Weekly Catchup Meeting
<%= partial("handbook/engineering/development/dev/create/weekly_catchup.erb") %>

##  Calendars
<%= partial("handbook/engineering/development/dev/create/calendars.erb") %>

## 1-1's

<%= partial("handbook/engineering/development/dev/create/one_one.erb") %>


## Issues
<%= partial("handbook/engineering/development/dev/create/issues.erb") %>

## Slack Channels
### Editor Channels
- g_create_editor
- g_f_wiki
- g_f_web_ide

### Create Channels 
- g_create_knowledge
- g_create_source-code
- g_create_standup
<%= partial("handbook/engineering/development/dev/create/slack_channels.erb") %>

## Sprint Communications
<%= partial("handbook/engineering/development/dev/create/sprint_communications.erb") %>

## Deep Dives
<%= partial("handbook/engineering/development/dev/create/deep_dives.erb") %>

## Other Communication Links
<%= partial("handbook/engineering/development/dev/create/communication_links.erb") %>

